<h1 class="text-center">Liste des produits</h1>

<p-button label="Créer produit" (onClick)="onCreate()" class="block text-center"/>


<div class="card">
    <p-dataView #dv 
        [value]="products" first="0"
        [rows]="5" [totalRecords]="totalElements"
        [rows]="size" [rowsPerPageOptions]="[5, 10, 50]"
        [paginator]="true" [lazy]="true" [loading]="loading"
        (onLazyLoad)="onPageChange($event)"
        >
        <ng-template pTemplate="list" let-items>
            <div class="gap-4">
                <div class="col-span-12 w-full" *ngFor="let item of items; let first = first" class="col-span-12">
                    <div
                        class="flex flex-col sm:flex-row sm:items-center p-6 gap-4"
                        [ngClass]="{ 'border-t border-surface-200 dark:border-surface-700': !first }"
                    >
                        <div class="md:w-40 relative">
                            <img
                            style="width: 150px; height: 100px;"
                                class="block xl:block mx-auto rounded-border w-full"
                                [src]="item.image"
                                [alt]="item.name"
                            />
                            <p-tag [value]="item.inventoryStatus" [severity]="getSeverity(item)" class="absolute" [style.left.px]="4" [style.top.px]="4" />
                        </div>
                        <div class="flex flex-d-row  justify-between md:items-center flex-1 gap-4">
                            <div class="flex flex-d-colum justify-between items-start gap-2">
                                <div>
                                    <span class="font-medium text-secondary text-sm">{{ item.category }}</span>
                                    <div class="text-lg font-medium text-surface-900 dark:text-surface-0 mt-2">{{ item.name }}</div>
                                </div>
                                <div class="bg-surface-100 dark:bg-surface-700 p-1" style="border-radius: 30px">
                                    <div
                                        class="bg-surface-0 dark:bg-surface-900 flex items-center gap-2 justify-center py-1 px-2"
                                        style="border-radius: 30px; box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.04), 0px 1px 2px 0px rgba(0, 0, 0, 0.06)"
                                    >
                                        <span class="text-surface-900 dark:text-surface-0 font-medium text-sm">{{
                                            item.rating
                                        }}</span>
                                        <i class="pi pi-star-fill text-yellow-500"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="flex flex-d-colum align-end gap-4">
                                <span class="text-xl font-semibold text-surface-900 dark:text-surface-0">{{
                                    '$' + item.price
                                }}</span>
                                <div class="flex flex-row-reverse md:flex-row gap-2">
                                    <p-button icon="pi pi-heart" severity="warning" [outlined]="!checkProductInWishList(item)" (onClick)="wishListAction(item)" />
                                    <p-button
                                        icon="pi pi-cart-plus"
                                        class="flex-auto md:flex-initial whitespace-nowrap"
                                        [disabled]="item.inventoryStatus === 'OUTOFSTOCK'"
                                        (onClick)="addToCart(item)"
                                    />
                                    <p-button icon="pi pi-pen-to-square" severity="secondary" (onClick)="onUpdate(item)"/>
                                    <p-button icon="pi pi-trash" severity="danger" (onClick)="onDelete(item)" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>
</div>



<p-toast />
<p-confirmDialog />

<p-dialog [(visible)]="isDialogVisible"
    [style]="{ width: '50vw' }"
    header="Ajout/Edition produit">
    <app-product-form
        (save)="onSave($event)"
        (cancel)="onCancel()"
    />
</p-dialog>